<div class="container" style="justify-content:center; text-align:center; display:flex;">
  <div class="card" style="height: 864px ;width: 1316px; position: absolute;">
    <div class="card-body">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png" style="width: 100px; height: 100px">
      <br/>
      <br/>
      <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Necesitamos saber mas de ti...</label>
      <br/>
      <br/>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal es tu nombre?</label>
          <br/>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ej: Gustavo" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal es tu altura?</label>
          <br/>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ej: 182" style="width: 179px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
          <label style="font-family:'Roboto Condensed'; margin-left:30px; font-size:16px; font-weight: bold;">Metros</label>
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal es tu apellido?</label>
          <br/>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ej: Rodriguez" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿En que pais naciste?</label>
          <br/>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ej: Brasil" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Como te identificamos?</label>
          <br/>
          <select class="form-select" aria-label="Default select example" style="width:75px; height:38px; display:inline-block; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
            <option selected style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Tipo</option>
            <option value="1" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">CC</option>
            <option value="2" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">NIT</option>
            <option value="3" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">CE</option>
          </select>
          <input type="text" class="form-control" placeholder="123456789" style="width:179px; height:38px; display:inline-block; margin-left:14px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿En que ciudad naciste?</label>
          <br/>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ej: Medellin" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal será tu contraseña?</label>
          <br/>
          <input type="password" class="form-control" id="exampleFormControlInput1" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿En que pais vives?</label>
          <br/>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ej: Japon" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Confirma tu contraseña</label>
          <br/>
          <input type="password" class="form-control" id="exampleFormControlInput1" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿En que ciudad vives?</label>
          <br/>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ej: Tokio" style="width:265px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal es tu género?</label>
          <br/>
          <select class="form-select" aria-label="Default select example" style="width:265px; height:37px; display:inline-block; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
            <option selected style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Seleccionar</option>
            <option value="1" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Femenino</option>
            <option value="2" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Masculino</option>
            <option value="3" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Prefiero no especificar</option>
          </select>
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cuanto tiempo vives viviendo allí?</label>
          <br/>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ej: 9" style="width:179px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
          <label style="font-family:'Roboto Condensed'; margin-left:30px; font-size:16px; font-weight: bold;">Años</label>
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal es tu edad?</label>
          <br/>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ej: 32" style="width: 179px; height:37px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
          <label style="font-family:'Roboto Condensed'; margin-left:30px; font-size:16px; font-weight: bold;">Años</label>
        </div>
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Que deporte practivas o deseas practicar?</label>
          <br/>
          <select class="form-select" aria-label="Default select example" style="width:265px; height:37px; display:inline-block; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
            <option selected style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Tipo</option>
            <option value="1" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Atletismo</option>
            <option value="2" style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">Ciclismo</option>
          </select>
        </div>
      </div>
      <div class="row" style="justify-content:initial; text-align:initial; display:flex; padding-left: 100px;">
        <div class="col">
          <label style="font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">¿Cúal es tu peso?</label>
          <br/>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Ej: 82" style="width:179px; height:38px; display:inline-block; margin-left:3px; font-family:'Roboto Condensed'; font-size:16px; font-weight: bold;">
          <label style="font-family:'Roboto Condensed'; margin-left:30px; font-size:16px; font-weight: bold;">Kg</label>
        </div>
        <div class="col">
          <br/>
          <button type="button" class="btn btn-primario" style="vertical-align:middle; width:136px; height:30px; font-family:'Roboto'; font-size:16px; font-weight: bold;">Volver</button>
          <button type="button" class="btn btn-primario" style="vertical-align:middle; width:136px; height:30px; font-family:'Roboto'; font-size:16px; font-weight: bold; margin-left:30px;">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>
