<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>

<body>
  <body>

    <div class="container">
      <div class ="grid">
            <div id="CardGratuito" class="card">
              <h2>Plan Gratuito</h2>
              <p>Nuestro Plan Gratuito incluye los siguientes servicios: </p>
              <ol>
                <li>Sugerencias planes de entrenamiento dentro y fuera de casa</li>
                <li>Sugerencias de Eventos Deportivos</li>
                <li>Sugerencias Servicios de Acompañamiento en eventos</li>
                <li>Sugerencias Servicios de Envio de Alimentacion</li>
                <li>Sugerencias Servicios de Recuperación</li>
              </ol>
            </div>
            <div id="CardPremium" class="card">
              <div class="card-body">
              <h2>Plan Premium</h2>
              <p>Nuestro Plan Premium incluye los siguientes servicios: </p>
              <p>Servicio de Recuperación que te indicará las mejores rutinas de descanso y alimentación para
                mejorar tu recuperación.</p>
              </div>
              <div class="card-footer">
              <button
                type="button"
                class="btn btn-primario"
              >
                Continuar como Premium
              </button>
            </div>
            </div>
            <div id="CardIntermedio" class="card">
              <div class="card-body">
              <h2>Plan Intermedio</h2>
              <p>Nuestro Plan Intermedio incluye los siguientes servicios: </p>
              <p>Verificación del insumo de bebida y comida adecuado durante la relación de las sesiones deportivas</p>
            </div>
            <div class="card-footer">
              <button
              type="button"
              class="btn btn-primario"
            >
              Continuar como Intermedio
            </button>
           </div>
          </div>
      </div>

    </div>
    <div id="div_btn_gratuito">
      <button id="btn_PlanGratuito"
      type="button"
      class="btn btn-primario"
    >
      Continuar con Plan Gratuito
    </button>
    </div>


</body>

</body>
</html>
