<div class="card" style="height: 22rem; background-color: #f2dfd7">
  <div class="card-body">
    <h5 i18n class="card-title text-center my-card-title">Intermedio</h5>
    <p i18n class="card-text">Tus beneficios:</p>
    <ul class="card-text">
      <li i18n>todo lo del plan gratuito</li>
      <li i18n>monitoreo de tus objetivos</li>
      <li i18n>monitoreo de recuperación efectiva post entrenamiento</li>
    </ul>
  </div>
  <div
    class="card-footer text-center bg-transparent"
    style="border: none"
  >
  </div>
</div>
