.my-card-title {
  font-weight: bold;
  font-size: 32px;
}

.btn-continue {
  width: 228px;
  height: 30px;
  margin-top: 50px;
}

#a_deportistalink {
  color: white;
  text-decoration: none; /* no underline */
}
