<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">

      <div class="card" style=" height: 22rem; background-color: #D4C1EC;">
        <div class="card-body">
          <h5 i18n class="card-title text-center my-card-title">Gratuito</h5>
          <p i18n class="card-text">Tus beneficios: </p>
          <ul class="card-text">
            <li i18n>
              acompañamiento durante tus practicas
            </li>
            <li i18n>
              Aviso de eventos deportivos
            </li>
            <li i18n>
              motivación para terminar tus objetivos
            </li>
            <li i18n>
              integración con aplicaciones como Strava
            </li>
          </ul>

        </div>
        <div i18n class="card-footer text-center bg-transparent" style="
        border: none;
        font-size: 30px;
        font-weight: bold;">
          ¡¡¡¡Ya tienes esto!!!! </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card" style=" height: 26rem; background-color: #FEF9FF;">
        <div class="card-body">
          <h5 i18n class="card-title text-center my-card-title">Premium</h5>
          <p i18n class="card-text">Tus ultra mega beneficios: </p>
          <ul class="card-text">
            <li i18n>
              todo lo del plan intermedio
            </li>
            <li i18n>
              servicio de entrenador personalizado
            </li>
            <li i18n>
              agendamiento con medicos
            </li>
          </ul>
        </div>
        <div class="card-footer text-center bg-transparent" style="border: none;">
          <button type="button" id="premium" class="btn btn-primario" style="
          width: 228px;
          height: 30px;
        " i18n>
            Continuar como premium
          </button>
        </div>

      </div>

    </div>
    <div class="col-sm">

      <div class="card" style=" height: 22rem; background-color: #F2DFD7;">
        <div class="card-body">
          <h5 i18n class="card-title text-center my-card-title">Intermedio</h5>
          <p i18n class="card-text">Tus beneficios: </p>
          <ul class="card-text">
            <li i18n>
              todo lo del plan gratuito
            </li>
            <li i18n>
              monitoreo de tus objetivos
            </li>
            <li i18n>
              monitoreo de recuperación efectiva post entrenamiento
            </li>
          </ul>

        </div>
        <div class="card-footer text-center bg-transparent" style="border: none;">
          <button type="button" id="intermedio" class="btn btn-primario" style="
          width: 228px;
          height: 30px;
        " i18n>
            Continuar como intermedio
          </button>
        </div>
      </div>

    </div>
    <div class="row justify-content-md-center">
      <button type="button" id="continuar" class="btn btn-primario btn-continue" i18n>
        Continuar
      </button>
    </div>
  </div>
