<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">

      <div class="card" style=" height: 22rem; background-color: #D4C1EC;">
        <div class="card-body">
          <h5 class="card-title text-center my-card-title">Free</h5>
          <p class="card-text">Tus beneficios: </p>
          <ul class="card-text">
            <li>
              acompañamiento durante tus practicas
            </li>
            <li>
              Aviso de eventos deportivos
            </li>
            <li>
              motivación para terminar tus objetivos
            </li>
            <li>
              integración con aplicaciones como Strava
            </li>
          </ul>

        </div>
        <div class="card-footer text-center bg-transparent" style="
        border: none;
        font-size: 30px;
        font-weight: bold;">
          ¡¡¡¡Ya tienes esto!!!! </div>
      </div>

    </div>
    <div class="col-sm">

      <div class="card" style=" height: 26rem; background-color: #FEF9FF;">
        <div class="card-body">
          <h5 class="card-title text-center my-card-title">Premium</h5>
          <p class="card-text">Tus ultra mega beneficios: </p>
          <ul class="card-text">
            <li>
              todo lo del plan intermedio
            </li>
            <li>
              servicio de entrenador personalizado
            </li>
            <li>
              agendamiento con medicos
            </li>
          </ul>
        </div>
        <div class="card-footer text-center bg-transparent" style="border: none;">
          <button type="button" id="premium" class="btn btn-primario" style="
          width: 228px;
          height: 30px;
        ">
            Continuar como premium
          </button>
        </div>

      </div>

    </div>
    <div class="col-sm">

      <div class="card" style=" height: 22rem; background-color: #F2DFD7;">
        <div class="card-body">
          <h5 class="card-title text-center my-card-title">Intermedio</h5>
          <p class="card-text">Tus beneficios: </p>
          <ul class="card-text">
            <li>
              todo lo del plan gratuito
            </li>
            <li>
              monitoreo de tus objetivos
            </li>
            <li>
              monitoreo de recuperación efectiva post entrenamiento
            </li>
          </ul>

        </div>
        <div class="card-footer text-center bg-transparent" style="border: none;">
          <button type="button" id="intermedio" class="btn btn-primario" style="
          width: 228px;
          height: 30px;
        ">
            Continuar como intermedio
          </button>
        </div>
      </div>

    </div>
    <div class="row justify-content-md-center">
      <button type="button" id="continuar" class="btn btn-primario btn-continue">
        Continuar
      </button>
    </div>
  </div>