<div
  class="container"
  style="justify-content: center; text-align: center; display: flex"
>
  <div
    id="login-card"
    class="card"
    style="height: 864px; width: 1316px; position: absolute"
  >
    <div class="card-body">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png"
      />
      <br />
      <br />
      <label>Necesitamos saber mas de ti...</label>
      <br />
      <br />
      <form
        [formGroup]="registroForm"
        (ngSubmit)="!registroForm.invalid && registrarse(
          registroForm.controls.nombre.value,
          registroForm.controls.apellido.value,
          registroForm.controls.tipo_doc.value,
          registroForm.controls.documento.value,
          registroForm.controls.contrasena.value,
          registroForm.controls.genero.value,
          registroForm.controls.edad.value,
          registroForm.controls.peso.value,
          registroForm.controls.altura.value,
          registroForm.controls.pais_nacimiento.value,
          registroForm.controls.ciudad_nacimiento.value,
          registroForm.controls.pais_vivienda.value,
          registroForm.controls.ciudad_vivienda.value,
          registroForm.controls.tiempo.value,
          registroForm.controls.deporte.value
        )"
      >
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu nombre?</label>
            <br />
            <input
              type="text"
              class="form-control campo_n"
              placeholder="Ej: Gustavo"
              formControlName="nombre"
            />
          </div>
          <div class="col">
            <label>¿Cúal es tu altura?</label>
            <br />
            <input
              type="text"
              class="form-control campo_p"
              placeholder="Ej: 182"
              formControlName="altura"
            />
            <label class="label_d">Metros</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu apellido?</label>
            <br />
            <input
              type="text"
              class="form-control campo_n"
              placeholder="Ej: Rodriguez"
              formControlName="apellido"
            />
          </div>
          <div class="col">
            <label>¿En que pais naciste?</label>
            <br />
            <input
              type="text"
              class="form-control campo_n"
              placeholder="Ej: Brasil"
              formControlName="pais_nacimiento"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Como te identificamos?</label>
            <br />
            <select
              class="form-select"
              id="select_tipo"
              aria-label="Default select example"
              formControlName="tipo_doc"
            >
              <option selected value="0">Tipo</option>
              <option value="CC">CC</option>
              <option value="NIT">NIT</option>
              <option value="CE">CE</option>
            </select>
            <input
              type="text"
              class="form-control campo_p"
              placeholder="123456789"
              formControlName="documento"
            />
          </div>
          <div class="col">
            <label>¿En que ciudad naciste?</label>
            <br />
            <input
              type="text"
              class="form-control campo_n"
              placeholder="Ej: Medellin"
              formControlName="ciudad_nacimiento"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal será tu contraseña?</label>
            <br />
            <input
              type="password"
              class="form-control campo_n"
              formControlName="contrasena"
            />
          </div>
          <div class="col">
            <label>¿En que pais vives?</label>
            <br />
            <input
              type="text"
              class="form-control campo_n"
              formControlName="pais_vivienda"
              placeholder="Ej: Japon"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Confirma tu contraseña</label>
            <br />
            <input
              type="password"
              class="form-control campo_n"
              formControlName="contrasena2"
            />
          </div>
          <div class="col">
            <label>¿En que ciudad vives?</label>
            <br />
            <input
              type="text"
              class="form-control campo_n"
              placeholder="Ej: Tokio"
              formControlName="ciudad_vivienda"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu género?</label>
            <br />
            <select
              class="form-select campo_n"
              aria-label="Default select example"
              formControlName="genero"
            >
              <option selected value="0">Seleccionar</option>
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
              <option value="N">Prefiero no especificar</option>
            </select>
          </div>
          <div class="col">
            <label>¿Cuanto tiempo vives viviendo allí?</label>
            <br />
            <input
              type="text"
              class="form-control campo_p"
              placeholder="Ej: 9"
              formControlName="tiempo"
            />
            <label class="label_d">Años</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu edad?</label>
            <br />
            <input
              type="text"
              class="form-control campo_p"
              placeholder="Ej: 32"
              formControlName="edad"
            />
            <label class="label_d">Años</label>
          </div>
          <div class="col">
            <label>¿Que deporte practivas o deseas practicar?</label>
            <br />
            <select
              class="form-select campo_n"
              aria-label="Default select example"
              formControlName="deporte"
            >
              <option selected value="0">Tipo</option>
              <option value="ATLETISMO">Atletismo</option>
              <option value="CICLISMO">Ciclismo</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu peso?</label>
            <br />
            <input
              type="text"
              class="form-control campo_p"
              placeholder="Ej: 82"
              formControlName="peso"
            />
            <label class="label_d">Kg</label>
          </div>
          <div class="col">
            <div
              class="alert alert-danger dismissible fade show"
              style="max-width: 240px"
              *ngIf="
                (registroForm.get('nombre')!.touched &&
                  registroForm.get('nombre')!.errors) ||
                (registroForm.get('apellido')!.touched &&
                  registroForm.get('apellido')!.errors) ||
                (registroForm.get('tipo_doc')!.touched &&
                  registroForm.get('tipo_doc')!.errors) ||
                (registroForm.get('documento')!.touched &&
                  registroForm.get('documento')!.errors) ||
                (registroForm.get('contrasena')!.touched &&
                  registroForm.get('contrasena')!.errors) ||
                (registroForm.get('contrasena2')!.touched &&
                  registroForm.get('contrasena2')!.errors) ||
                (registroForm.get('genero')!.touched &&
                  registroForm.get('genero')!.errors) ||
                (registroForm.get('edad')!.touched &&
                  registroForm.get('edad')!.errors) ||
                (registroForm.get('peso')!.touched &&
                  registroForm.get('peso')!.errors) ||
                (registroForm.get('altura')!.touched &&
                  registroForm.get('altura')!.errors) ||
                (registroForm.get('pais_nacimiento')!.touched &&
                  registroForm.get('pais_nacimiento')!.errors) ||
                (registroForm.get('ciudad_nacimiento')!.touched &&
                  registroForm.get('ciudad_nacimiento')!.errors) ||
                (registroForm.get('pais_vivienda')!.touched &&
                  registroForm.get('pais_vivienda')!.errors) ||
                (registroForm.get('ciudad_vivienda')!.touched &&
                  registroForm.get('ciudad_vivienda')!.errors) ||
                (registroForm.get('tiempo')!.touched &&
                  registroForm.get('tiempo')!.errors) ||
                (registroForm.get('deporte')!.touched &&
                  registroForm.get('deporte')!.errors)
              "
            >
              <p
                *ngIf="
                  registroForm.get('nombre')!.hasError('required') &&
                  registroForm.get('nombre')!.touched
                "
              >
                Debe ingresar un nombre
              </p>
              <p
                *ngIf="
                  registroForm.get('nombre')!.hasError('minLength') &&
                  registroForm.get('nombre')!.touched
                "
              >
                El nombre debe tener minimo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('apellido')!.hasError('required') &&
                  registroForm.get('apellido')!.touched
                "
              >
                Debe ingresar un apellido
              </p>
              <p
                *ngIf="
                  registroForm.get('apellido')!.hasError('minLength') &&
                  registroForm.get('apellido')!.touched
                "
              >
                El apellido debe tener minimo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('tipo_doc')!.hasError('min') &&
                  registroForm.get('tipo_doc')!.touched
                "
              >
                Debe seleccionar un tipo de documento
              </p>
              <p
                *ngIf="
                  registroForm.get('documento')!.hasError('pattern') &&
                  registroForm.get('documento')!.touched
                "
              >
                El número de documento debe estar conformado solo de numeros
              </p>
              <p
                *ngIf="
                  registroForm.get('documento')!.hasError('maxlength') &&
                  registroForm.get('documento')!.touched
                "
              >
                El número de documento debe tener maximo 20 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('documento')!.hasError('minlength') &&
                  registroForm.get('documento')!.touched
                "
              >
                El número de documento debe tener minimo 7 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('documento')!.hasError('required') &&
                  registroForm.get('documento')!.touched
                "
              >
                Debe ingresar un número de documento
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena')!.hasError('maxlength') &&
                  registroForm.get('contrasena')!.touched
                "
              >
                La contraseña debe tener maximo 20 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena')!.hasError('minlength') &&
                  registroForm.get('contrasena')!.touched
                "
              >
                La contraseña debe tener minimo 8 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena')!.hasError('required') &&
                  registroForm.get('contrasena')!.touched
                "
              >
                Debe ingresar una contraseña
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena2')!.hasError('maxlength') &&
                  registroForm.get('contrasena2')!.touched
                "
              >
                La confirmación de la contraseña debe tener maximo 20 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena2')!.hasError('minlength') &&
                  registroForm.get('contrasena2')!.touched
                "
              >
                La confirmación de la contraseña debe tener minimo 8 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena2')!.hasError('required') &&
                  registroForm.get('contrasena2')!.touched
                "
              >
                Debe confirmar su contraseña
              </p>
              <p
                *ngIf="
                  registroForm.get('contrasena2')!.hasError('confirmedValidator') &&
                  registroForm.get('contrasena2')!.touched
                "
              >
                Las contraseñas no coinsiden
              </p>
              <p
                *ngIf="
                  registroForm.get('genero')!.hasError('min') &&
                  registroForm.get('genero')!.touched
                "
              >
                Debe seleccionar un genero
              </p>
              <p
                *ngIf="
                  registroForm.get('edad')!.hasError('pattern') &&
                  registroForm.get('edad')!.touched
                "
              >
                La edad debe estar conformada solo de numeros
              </p>
              <p
                *ngIf="
                  registroForm.get('edad')!.hasError('maxlength') &&
                  registroForm.get('edad')!.touched
                "
              >
                La edad debe tener maximo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('edad')!.hasError('minlength') &&
                  registroForm.get('edad')!.touched
                "
              >
                La edad debe tener minimo 1 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('edad')!.hasError('required') &&
                  registroForm.get('edad')!.touched
                "
              >
                Debe ingresar una edad
              </p>
              <p
                *ngIf="
                  registroForm.get('peso')!.hasError('pattern') &&
                  registroForm.get('peso')!.touched
                "
              >
                El peso debe estar conformado solo de numeros
              </p>
              <p
                *ngIf="
                  registroForm.get('peso')!.hasError('maxlength') &&
                  registroForm.get('peso')!.touched
                "
              >
                El peso debe tener maximo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('peso')!.hasError('minlength') &&
                  registroForm.get('peso')!.touched
                "
              >
                El peso debe tener minimo 2 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('peso')!.hasError('required') &&
                  registroForm.get('peso')!.touched
                "
              >
                Debe ingresar un peso
              </p>
              <p
                *ngIf="
                  registroForm.get('altura')!.hasError('pattern') &&
                  registroForm.get('altura')!.touched
                "
              >
                La altura debe estar conformada solo de numeros
              </p>
              <p
                *ngIf="
                  registroForm.get('altura')!.hasError('maxlength') &&
                  registroForm.get('altura')!.touched
                "
              >
                La altura debe tener maximo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('altura')!.hasError('minlength') &&
                  registroForm.get('altura')!.touched
                "
              >
                La altura debe tener minimo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('altura')!.hasError('required') &&
                  registroForm.get('altura')!.touched
                "
              >
                Debe ingresar una altura
              </p>
              <p
                *ngIf="
                  registroForm.get('pais_nacimiento')!.hasError('required') &&
                  registroForm.get('pais_nacimiento')!.touched
                "
              >
                Debe ingresar un pais de nacimiento
              </p>
              <p
                *ngIf="
                  registroForm.get('ciudad_nacimiento')!.hasError('required') &&
                  registroForm.get('ciudad_nacimiento')!.touched
                "
              >
                Debe ingresar una ciudad de nacimiento
              </p>
              <p
                *ngIf="
                  registroForm.get('pais_vivienda')!.hasError('required') &&
                  registroForm.get('pais_vivienda')!.touched
                "
              >
                Debe ingresar un pais donde este viviendo
              </p>
              <p
                *ngIf="
                  registroForm.get('ciudad_vivienda')!.hasError('required') &&
                  registroForm.get('ciudad_vivienda')!.touched
                "
              >
                Debe ingresar una ciudad donde este viviendo
              </p>
              <p
                *ngIf="
                  registroForm.get('tiempo')!.hasError('pattern') &&
                  registroForm.get('tiempo')!.touched
                "
              >
                El tiempo de vivienda debe estar conformado solo de numeros
              </p>
              <p
                *ngIf="
                  registroForm.get('tiempo')!.hasError('maxlength') &&
                  registroForm.get('tiempo')!.touched
                "
              >
                El tiempo de vivienda debe tener maximo 3 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('tiempo')!.hasError('minlength') &&
                  registroForm.get('tiempo')!.touched
                "
              >
                El tiempo de vivienda debe tener minimo 1 caracteres
              </p>
              <p
                *ngIf="
                  registroForm.get('tiempo')!.hasError('required') &&
                  registroForm.get('tiempo')!.touched
                "
              >
                Debe ingresar un tiempo de vivienda
              </p>
              <p
                *ngIf="
                  registroForm.get('deporte')!.hasError('min') &&
                  registroForm.get('deporte')!.touched
                "
              >
                Debe seleccionar un deporte
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <br />
            <button type="button" id="boton_volver" class="btn btn-primario" (click)="volver()">
              Volver
            </button>
            <button type="submit" id="boton_registro" class="btn btn-primario">
              Registrarse
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
