<div class="container" style="justify-content: center; text-align: center; display: flex">
  <div id="login-card" class="card" style="height: 864px; width: 1316px; position: absolute">
    <div class="card-body">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png"/>
      <br />
      <br />
      <label>Necesitamos saber mas de ti...</label>
      <br />
      <br />
      <form 
        [formGroup]="registroForm"
        (ngSubmit)="!registroForm.invalid"
      >
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu nombre?</label>
            <br />
            <input type="text" class="form-control campo_n" id="exampleFormControlInput1" placeholder="Ej: Gustavo" />
          </div>
          <div class="col">
            <label>¿Cúal es tu altura?</label>
            <br />
            <input type="text" class="form-control campo_p" id="exampleFormControlInput1" placeholder="Ej: 182"/>
            <label class="label_d">Metros</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu apellido?</label>
            <br />
            <input type="text" class="form-control campo_n" id="exampleFormControlInput1" placeholder="Ej: Rodriguez" />
          </div>
          <div class="col">
            <label>¿En que pais naciste?</label>
            <br />
            <input type="text" class="form-control campo_n" id="exampleFormControlInput1" placeholder="Ej: Brasil" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Como te identificamos?</label>
            <br />
            <select class="form-select" aria-label="Default select example" style="
            width: 75px;
            height: 38px;
            display: inline-block;
            font-family: 'Roboto Condensed';
            font-size: 16px;
            font-weight: bold;
          ">
              <option selected>
                Tipo
              </option>
              <option value="1">
                CC
              </option>
              <option value="2">
                NIT
              </option>
              <option value="3">
                CE
              </option>
            </select>
            <input type="text" class="form-control campo_p" placeholder="123456789"/>
          </div>
          <div class="col">
            <label>¿En que ciudad naciste?</label>
            <br />
            <input type="text" class="form-control campo_n" id="exampleFormControlInput1" placeholder="Ej: Medellin" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal será tu contraseña?</label>
            <br />
            <input type="password" class="form-control campo_n" id="exampleFormControlInput1"/>
          </div>
          <div class="col">
            <label>¿En que pais vives?</label>
            <br />
            <input type="text" class="form-control campo_n" id="exampleFormControlInput1" placeholder="Ej: Japon"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Confirma tu contraseña</label>
            <br />
            <input type="password" class="form-control campo_n" id="exampleFormControlInput1"/>
          </div>
          <div class="col">
            <label>¿En que ciudad vives?</label>
            <br />
            <input type="text" class="form-control campo_n" id="exampleFormControlInput1" placeholder="Ej: Tokio"/>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu género?</label>
            <br />
            <select class="form-select campo_n" aria-label="Default select example">
              <option selected>
                Seleccionar
              </option>
              <option value="1">
                Femenino
              </option>
              <option value="2">
                Masculino
              </option>
              <option value="3">
                Prefiero no especificar
              </option>
            </select>
          </div>
          <div class="col">
            <label>¿Cuanto tiempo vives viviendo allí?</label>
            <br />
            <input type="text" class="form-control campo_p" id="exampleFormControlInput1" placeholder="Ej: 9"/>
            <label class="label_d">Años</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu edad?</label>
            <br />
            <input type="text" class="form-control campo_p" id="exampleFormControlInput1" placeholder="Ej: 32"/>
            <label class="label_d">Años</label>
          </div>
          <div class="col">
            <label>¿Que deporte practivas o deseas practicar?</label>
            <br />
            <select class="form-select campo_n" aria-label="Default select example">
              <option selected>
                Tipo
              </option>
              <option value="1">
                Atletismo
              </option>
              <option value="2">
                Ciclismo
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>¿Cúal es tu peso?</label>
            <br />
            <input type="text" class="form-control campo_p" id="exampleFormControlInput1" placeholder="Ej: 82"/>
            <label class="label_d">Kg</label>
          </div>
          <div class="col">
            <br />
            <button type="button" class="btn btn-primario">
              Volver
            </button>
            <button type="button" id="boton_registro" class="btn btn-primario">
              Registrarse
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>