<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 597px; height: 487px;">
        <div class="card-body">
          <h2 i18n>Historial Eventos</h2>
          <app-listar-eventos [eventos]="eventos"></app-listar-eventos>
        </div>
      </div>
      <br>
      <div class="card" style="width: 597px; height: 352px;">
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 597px; height: 863px;">
        <div class="card-body">
          <h2 i18n>Perfil Deportivo</h2>
          <app-listar-habitos [habitos]="habitos"></app-listar-habitos>
          <app-listar-molestias [molestias]="molestias"></app-listar-molestias>
        </div>
      </div>
    </div>
  </div>
</div>
