<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <div class="side-nav-bar d-flex flex-column flex-shrink-0 p-0" style="width:250px">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" style="margin: 20px; padding-bottom: 10px;">
        <span class="fs-4" style="color:#7c7c7c">SPORTAPP</span>
      </a>
      <ul class="nav flex-column mb-auto" style="color: black !important;">
        <li *ngFor="let option of options" style="border-top: 1px solid; border-bottom: 1px solid;">
          <a [href]="option.path" class="nav-link">
            {{option.option}}
          </a>
        </li>
      </ul>
      <div class="row">
        <div class="col" style="padding-right:0px;">
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false"  style="margin: 20px;">
              <div id="icon" class="rounded-circle me-3">
                <svg class="bi " fill="#000000" width="32" height="32">
                  <use
                    xlink:href="assets/img/bootstrap-icons.svg#person"
                  />
                </svg>
              </div>
              <strong>{{user}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="signOut()">Cerrar Sesión</a></li>
            </ul>
          </div>
        </div>
        <div class="col" style="margin-top:20px;padding-right:0px;">
          <a class="language-active" *ngIf="!english">ES</a>
          <a *ngIf="english" (click)="changeLanguage()">ES</a>
          <a *ngIf="!english" (click)="changeLanguage()" style="padding-left:5px;">EN</a>
          <a class="language-active" *ngIf="english" style="padding-left:5px;">EN</a>
        </div>
      </div>

    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button id="open" (click)="sidenav.toggle()">
      <svg class="bi " fill="#000000" width="32" height="32">
        <use
          xlink:href="assets/img/bootstrap-icons.svg#three-dots"
        />
      </svg>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
