<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Bienvenido a SportApp</h5>
      <img
        id="logo_uniandes"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/University_of_Los_Andes_logo.svg/1200px-University_of_Los_Andes_logo.svg.png"
      />
      <br />
      <br />
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Tipo Usuario</label>
        <div class="col-sm-8">
          <select
            id="selector_tipo_usuario"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Seleccionar</option>
            <option value="1">Deportista</option>
            <option value="2">Socio de negocio</option>
            <option value="3">Organizador de eventos</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Número de identificación</label>
        <div class="col-sm-8">
          <select
            id="selector_tipo_documento"
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Tipo</option>
            <option value="1">CC</option>
            <option value="2">NIT</option>
            <option value="3">CE</option>
          </select>
          <input
            id="input_numero_documento"
            type="number"
            class="form-control"
            placeholder="123456789"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-3 col-form-label"
          >Contraseña</label
        >
        <div class="col-sm-9">
          <input
            id="input_password"
            type="password"
            class="form-control"
            placeholder="***********"
          />
        </div>
      </div>
      <div class="mb-1 row">
        <p>
          Aun no te has registrado?
          <a href="/registry">Registrarse</a>
        </p>
      </div>
      <button type="button" class="btn btn-primario">Iniciar Sesión</button>
    </div>
  </div>
</div>
