<div class="card" style="height: 22rem; background-color: #d4c1ec">
  <div class="card-body">
    <h5 i18n class="card-title text-center my-card-title">Gratuito</h5>
    <p i18n class="card-text">Tus beneficios:</p>
    <ul class="card-text">
      <li i18n>acompañamiento durante tus practicas</li>
      <li i18n>Aviso de eventos deportivos</li>
      <li i18n>motivación para terminar tus objetivos</li>
      <li i18n>integración con aplicaciones como Strava</li>
    </ul>
  </div>
  <div
    i18n
    class="card-footer text-center bg-transparent"
    style="border: none; font-size: 30px; font-weight: bold"
  >
    ¡¡¡¡Ya tienes esto!!!!
  </div>
</div>
