<div class="card" style="height: 26rem; background-color: #fef9ff">
  <div class="card-body">
    <h5 i18n class="card-title text-center my-card-title">Premium</h5>
    <p i18n class="card-text">Tus ultra mega beneficios:</p>
    <ul class="card-text">
      <li i18n>todo lo del plan intermedio</li>
      <li i18n>servicio de entrenador personalizado</li>
      <li i18n>agendamiento con medicos</li>
    </ul>
  </div>
  <div
    class="card-footer text-center bg-transparent"
    style="border: none"
  >
  </div>
</div>
