<div
  class="container"
>
  <div
    id="login-card"
    class="card"
  >
    <div class="container-md">
      <h5 i18n class="card-title">Perfiles Deportivos</h5>
    </div>
    <div class="container-md">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a i18n id="nav_demografico" class="nav-link active" aria-current="page">Demográfico</a>
        </li>
        <li class="nav-item">
          <a i18n id="nav_deportivo" class="nav-link" routerLink="/deportista/perfiles/deportivo">Deportivo</a>
        </li>
        <li class="nav-item">
          <a i18n id="nav_alimenticio" class="nav-link" routerLink="/deportista/perfiles/alimenticio">Alimenticio</a>
        </li>
      </ul>
      <div class="card-body"></div>
    </div>
  </div>
</div>
