<div
  class="container"
>
  <div
    id="login-card"
    class="card"
  >
    <div class="container-md">
      <h5 i18n class="card-title">Perfiles Deportivos</h5>
    </div>
    <div class="container-md">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a i18n id="nav_demografico" class="nav-link active" aria-current="page">Demográfico</a>
        </li>
        <li class="nav-item">
          <a i18n id="nav_deportivo" class="nav-link" routerLink="/deportista/perfiles/deportivo">Deportivo</a>
        </li>
        <li class="nav-item">
          <a i18n id="nav_alimenticio" class="nav-link" routerLink="/deportista/perfiles/alimenticio">Alimenticio</a>
        </li>
      </ul>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card" style="height: 390px; width:312px; background-color: #F2DFD7">
              <div class="card-body">
                <p i18n class="card-text">Datos generales</p>
                <p i18n class="card-text izquierda">Nombre:</p>
                <p i18n class="card-text izquierda">Apellido:</p>
                <p i18n class="card-text izquierda">Edad:</p>
                <p i18n class="card-text izquierda">Peso:</p>
                <p i18n class="card-text izquierda">Estatura:</p>
                <p i18n class="card-text izquierda">Indice de masa corporal:</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="height: 390px; width:312px; background-color: #9F9FED">
              <div class="card-body">
                <p i18n class="card-text blanco">Datos de química sanguinea</p>
                <p i18n class="card-text izquierda blanco">Glucosa:</p>
                <p i18n class="card-text izquierda blanco">Acido úrico:</p>
                <p i18n class="card-text izquierda blanco">Colesterol:</p>
                <p i18n class="card-text izquierda blanco">Urea:</p>
                <p i18n class="card-text izquierda blanco">Trigliceridos:</p>
                <div *ngIf="!centro" class="card" style="height: 109px; width:263px; background-color: #A85E5E;">
                  <div class="card-body" style="padding-top:0px;">
                    <p i18n class="card-text blanco" style="margin-bottom: 0;">Atención</p>
                    <p i18n class="card-text izquierda blanco">No se encontró ningun laboratorio en su ubicación capacitado para hacer estas pruebas</p>
                  </div>
                </div>
                <div *ngIf="centro" class="mb-3">
                  <label for="formFileSm" class="form-label blanco">Cargue porfavor un archivo del centro medico</label>
                  <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
