/* You can add global styles to this file, and also import other style files */
.color-primary-purple{
  background-color:#5227CC;
}
.color-secondary{
  background-color:#F2DFD7;
}
.color-terceary{
  background-color:#D4C1EC;
}
.color-cuaternary{
  background-color:#9F9FED;
}
.color-green{
  background-color:#8cc7a1;;
}
.color-black{
  background-color:#000000;
}
.color-disable{
  background-color:#7C7C7C;
}
body{
  --bs-body-bg: #9F9FED;
}
.card{
  --bs-body-bg: #FFFFFF;
}
