/* You can add global styles to this file, and also import other style files */
.color-primary-purple {
  background-color: #5227cc;
}
.color-secondary {
  background-color: #f2dfd7;
}
.color-terceary {
  background-color: #d4c1ec;
}
.color-cuaternary {
  background-color: #9f9fed;
}
.color-green {
  background-color: #8cc7a1;
}
.color-black {
  background-color: #000000;
}
.color-disable {
  background-color: #7c7c7c;
}
body {
  --bs-body-bg: #9f9fed;
}
.card {
  --bs-body-bg: #ffffff;
}
.btn-primario {
  background-color: #5227cc;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

* {
  font-family: 'Roboto';
}
