h5 {
  font-weight: bold;
  font-size: 32px;
}

#a_deportistalink {
  color: white;
  text-decoration: none; /* no underline */
}

a, label, p, li {
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
}

.campo_n {
  width: 265px;
  height: 37px;
  display: inline-block;
  margin-left: 3px;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: bold;
}

.campo_p {
  width: 179px;
  height: 37px;
  display: inline-block;
  margin-left: 3px;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: bold;
}

.btn-primario {
  background-color: #5227cc;
  color: white;
  height: 37px;
  width: 200px;
}

.btn-primario2 {
  background-color: #5227cc;
  color: white;
  height: 37px;
  width: 100px;
}
